@import "colors";

#menu {
  width: 100%;
  min-height: 40vh;
  background-color: white;
  padding: 6rem;

  > h2 {
    font-size: 4rem;
    text-align: center;
    padding: 0rem 2rem 3rem 2rem;
    font-weight: 800;
    color: $dark;
    text-transform: none;
  }

  > div {
    display: flex;
    justify-content: space-evenly;
  }
}

.menuCard {
  background-color: white;
  width: 30%;
  border-radius: 20px;

  box-shadow: rgba(149, 157, 165, 0.1) 0px 2px 12px;



&:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 28px;
}

  > main {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;

    > img {
      background-size: cover;
      background-position: center top;
      width: 100%;
      border-radius: 20px 20px 0 0;
    }

    > h5 {
      font-size: 1.4rem;
      font-weight: 600;
      color: $dark;
      padding-top: 2rem;
      text-align: center;
    }
    > h6 {
      text-transform: none;
      letter-spacing: 2px;
      padding: 1rem 0;
      font-size: 1.5rem;
      color: $dark;
    }

    > button {
      background-color: $red;
      color: white;
      border: none;
      padding: 1rem 2rem;
      
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: $reddark;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #menu
  { padding: 2rem;

   > div {
    flex-direction: column;
   } 
  }

  .menuCard {
    width: 100%;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 800px) {
  #menu 
  > div {
    flex-direction: column;
  }
  > h2 {
    font-size: 2rem;
  }
  .menuCard 
  { width: auto;
    margin: 1rem;

  > main > h5 {
    font-size: 1.6rem;
  }
} 
}